@tailwind base;
@tailwind components;
@tailwind utilities;


body,
html {
    
    scroll-behavior: smooth;
    overflow-x: hidden;
 background-color:#0F110F;
}

:root,
.root,
#root,
#docs-root {
   
    --primary-black: #0F110F;
    --primary-pruple:#9D94FE;
   
}